.map-view {
  width: 100%;
  flex: 1;
}
.marker {
  width: 60px;
  height: 60px;

  background-image: url("../../../img/marker.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;

  &::after {
    content: attr(data-name);
    position: absolute;
    width: max-content;
    color: white;
    left: 6px;
    top: 7px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    background-position: top;
    background-color: black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}
